*.sqlite3
*.pyc

staticfiles/*
static/*
media/*

apps/staticfiles/*
apps/static/*
apps/media/*
apps/logs/*
apps/celerybeat-schedule

db/*
logs/*

test_scripts/*

celerybeat-schedule
.bash_history

.vscode/*
env.sh

.venv
venv/
ENV/
env.sh
